test/fake-api-fixtures/workflows/index.json
[
  {
    "name": "HelloWorldWorkflow",
    "template": "s3://cumulus-test-sandbox-internal/mboyd-test/workflows/HelloWorldWorkflow.json",
    "definition": {
      "Comment": "Returns Hello World",
      "StartAt": "StartStatus",
      "States": {
        "StartStatus": {
          "Type": "Task",
          "Resource": "${SfSnsReportLambdaAliasOutput}",
          "Next": "HelloWorld"
        },
        "HelloWorld": {
          "Type": "Task",
          "Resource": "${HelloWorldLambdaAliasOutput}",
          "Next": "StopStatus"
        },
        "StopStatus": {
          "Type": "Task",
          "Resource": "${SfSnsReportLambdaAliasOutput}",
          "Catch": [
            {
              "ErrorEquals": [
                "States.ALL"
              ],
              "Next": "WorkflowFailed"
            }
          ],
          "End": true
        },
        "WorkflowFailed": {
          "Type": "Fail",
          "Cause": "Workflow failed"
        }
      }
    }
  },
  {
    "name": "EcsHelloWorldWorkflow",
    "template": "s3://cumulus-test-sandbox-internal/mboyd-test/workflows/EcsHelloWorldWorkflow.json",
    "definition": {
      "Comment": "Returns Hello World",
      "StartAt": "StartStatus",
      "States": {
        "StartStatus": {
          "Type": "Task",
          "Resource": "${SfSnsReportLambdaAliasOutput}",
          "Next": "EcsTaskHelloWorld"
        },
        "EcsTaskHelloWorld": {
          "Type": "Task",
          "Resource": "${EcsTaskHelloWorldActivity}",
          "TimeoutSeconds": 60,
          "Retry": [
            {
              "ErrorEquals": [
                "States.Timeout"
              ],
              "MaxAttempts": 1
            }
          ],
          "Next": "StopStatus"
        },
        "StopStatus": {
          "Type": "Task",
          "Resource": "${SfSnsReportLambdaAliasOutput}",
          "Catch": [
            {
              "ErrorEquals": [
                "States.ALL"
              ],
              "Next": "WorkflowFailed"
            }
          ],
          "End": true
        },
        "WorkflowFailed": {
          "Type": "Fail",
          "Cause": "Workflow failed"
        }
      }
    }
  },
  {
    "name": "KinesisTriggerTest",
    "template": "s3://cumulus-test-sandbox-internal/mboyd-test/workflows/KinesisTriggerTest.json",
    "definition": {
      "Comment": "Tests Workflow from Kinesis Stream",
      "StartAt": "StartStatus",
      "States": {
        "StartStatus": {
          "Type": "Task",
          "Resource": "${SfSnsReportLambdaAliasOutput}",
          "Catch": [
            {
              "ErrorEquals": [
                "States.ALL"
              ],
              "ResultPath": "$.exception",
              "Next": "CnmResponseFail"
            }
          ],
          "Next": "TranslateMessage"
        },
        "TranslateMessage": {
          "Type": "Task",
          "Resource": "${CNMToCMALambdaAliasOutput}",
          "Catch": [
            {
              "ErrorEquals": [
                "States.ALL"
              ],
              "ResultPath": "$.exception",
              "Next": "CnmResponseFail"
            }
          ],
          "Next": "SyncGranule"
        },
        "SyncGranule": {
          "Type": "Task",
          "Resource": "${SyncGranuleLambdaAliasOutput}",
          "Retry": [
            {
              "ErrorEquals": [
                "States.ALL"
              ],
              "IntervalSeconds": 10,
              "MaxAttempts": 3
            }
          ],
          "Catch": [
            {
              "ErrorEquals": [
                "States.ALL"
              ],
              "ResultPath": "$.exception",
              "Next": "CnmResponseFail"
            }
          ],
          "Next": "CnmResponse"
        },
        "CnmResponse": {
          "Type": "Task",
          "Resource": "${CnmResponseLambdaAliasOutput}",
          "Catch": [
            {
              "ErrorEquals": [
                "States.ALL"
              ],
              "ResultPath": "$.exception",
              "Next": "StopStatus"
            }
          ],
          "Next": "StopStatus"
        },
        "CnmResponseFail": {
          "Type": "Task",
          "Resource": "${CnmResponseLambdaAliasOutput}",
          "Catch": [
            {
              "ErrorEquals": [
                "States.ALL"
              ],
              "ResultPath": "$.exception",
              "Next": "StopStatusFail"
            }
          ],
          "Next": "StopStatusFail"
        },
        "StopStatus": {
          "Type": "Task",
          "Resource": "${sf2snsEndLambdaAliasOutput}",
          "Next": "WorkflowSucceeded"
        },
        "StopStatusFail": {
          "Type": "Task",
          "Resource": "${sf2snsEndLambdaAliasOutput}",
          "Next": "WorkflowFailed",
          "Catch": [
            {
              "ErrorEquals": [
                "States.ALL"
              ],
              "Next": "WorkflowFailed"
            }
          ]
        },
        "WorkflowSucceeded": {
          "Type": "Succeed"
        },
        "WorkflowFailed": {
          "Type": "Fail",
          "Cause": "Workflow failed"
        }
      }
    }
  }
]